@import url('https://fonts.googleapis.com/css?family=Montserrat:100,400,500&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    background: #DAE0E2;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}
.header{
    padding: 20px;
}
.sub{
    color: #464646;
}
.lefthead{
    float: right;
}
.imag{
    margin-top: -90px;
    margin-right: 300px;
}
.imag img{
    width: 80px;
    height: 80px;
}
.online{
    position: absolute;
    top: 20px;
    right: 5px;
}
#sub1{
    position: absolute;
    top: 40px;
    right: 120px;
}
.section1{
    position: absolute;
    left: 100px;
    top: 120px;
}
.line{
    position: absolute;
    left: 250px;
    top: 0px;
}
.line img{
    height: 100px;
}
.section2{
    position: absolute;
    top: 120px;
    left: 400px;
}
.view{
    position: absolute;
    top: 135px;
    left: 1000px;
}
.users{
    width: 200px;
    height: 50px;
    border-radius: 50px;
    outline: none;
    border: 2px solid #74B9FF;
    background: #00B4DB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}
.map img{
    width: 1345px;
    height: 500px;
}